html
  head
    title Plivo Demo Guestbook
  body
    h1 Add new entry
    form(action='/new', method="post")
      div.input
          div.label Name
          input(type="text", name="name")
      div.textarea
          div.label Message
          textarea(name="content")
      div.actions
          input(type="submit", value="add")
    h1 Guestbook Entries
    ul
      each obj, index in rows
        li= obj.name + ': ' + obj.content
